{
    "Comment": "Create wildcard alias for CloudBees CI",
    "Changes": [
        {
            "Action": "${action}",
            "ResourceRecordSet": {
                "Name": "*.${hosted_zone_name}",
                "Type": "A",
                "AliasTarget": {
                    "HostedZoneId": "${canonical_zone_id}",
                    "DNSName": "dualstack.${alb_dns_name}",
                    "EvaluateTargetHealth": true
                }
            }
        }
    ]
}